<div class="singlePage clearfix">
  <h2>About</h2>
    <p>Once upon a time, NOC wanted to do a nifty side project.</p>
    <p>It happened.</p>
    <p><em>Sincerely.</em></p>
    
    <%= image_tag 'flying-sre.gif', :class => 'team' %>


</div>